name: Update README

on:
  push:
    branches:
      - main

permissions:
  pull-requests: write
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v5

      - uses: npalm/action-docs-action@b1dd20339140224c1ffef389467e4fece8dc416b #3.1.2

      - uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 #7.0.11
        with:
          title: 'docs: auto update README'
