name: Update README

on:
  push:
    branches:
      - main

permissions:
  pull-requests: write
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v5

      - uses: npalm/action-docs-action@b1dd20339140224c1ffef389467e4fece8dc416b #3.1.2

      - uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 #7.0.9
        with:
          title: 'docs: auto update README'
